<ion-header transluscent text-center >
 
    <ion-label><ion-icon name="arrow-back" class="ion-padding-end" (click)="back()"></ion-icon>uploadImage</ion-label>
  
</ion-header>

<ion-content class="bkcolor">
  <img [src]="capturedSnapURL" width="50px" height="50px"/>
  <div class="container">
  <h3>Age:</h3>
  <h3>Ethnicity:</h3>
  <h3>Gender:</h3>
  <h3>% of Efficiency:</h3>
</div>
</ion-content>
<ion-footer transluscent text-center>

  <ion-label >Copyright Codesquad LLC</ion-label>

</ion-footer>