ion-content{
    
} 
.bkcolor{
    --background: #0066ff !important;
}
.container{
    margin-top:50px; 
    margin-left:20px;   
}
h3{
    color:white;
   
}
.header{
    --background:blue !important;
    
}
img{
    margin-top:40px;
    margin-left:80px;
}