
ion-content{
    --background: url('../../assets/icon/background12.jpg') no-repeat 100%;
    width:100%;
    background-repeat: no-repeat;
    height: 100%;
}
ion-icon{
    width:30px;
    height:30px;
    color:#007acc;
    
}
p{
    color:#007acc;
}
ion-card{
    background-color:#fff;
    margin-top:70px;
}
ion-button{
    background-color:transparent;
    // border:1px solid blue;
    border-radius:4px;
    margin-top:80px;
    margin-bottom:70px;
    --placeholder-opacity:0.3px;

}
ion-item{
    background-color:transparent;
}
h2{
    color:#fff;
    
}
ion-buttton{
    --margin-top:80px;
}
ion-footer{
    border:0px;
}